@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

#root {
  font-family: "Manrope", sans-serif;
}

li,
button {
  cursor: pointer;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
