@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

#root {
  font-family: "Manrope", sans-serif;
}

li,
button {
  cursor: pointer;
}
li {
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: .8;
}
li:hover{
  opacity: 1;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  scale: 1.05;
  transition: 100ms  ease-in-out ;
}